bin/
obj/
XCode/
.idea/
.vsconfig
.vs/
.vscode/
Library/
Temp/


ExprotAndroid/

*.sln
!*HotFix_Project*.sln
!*ExcelTool.sln

*.csproj
!*HotFix_Project*.csproj
!*ExcelTool.csproj
!*HotUpdateScripts.csproj
!*HotUpdateScripts.sln


*.log
Client/Assets/Raw.meta
u3dclient/Assets/StreamingAssets/BuildinFiles
u3dclient/Bundles

YouYouServer_JAVA/
MYSDK/

Json
C#